
  <br>
  <h1>SERVICIOS QUE REALIZAMOS:</h1>
  <span class="placeholder col-12 bg-warning"></span>
 <!-- On tables -->
<table class="table-primary">laptops</table>
<table class="table-secondary">Computadoras</table>
<table class="table-success">Celulares</table>
<table class="table-danger">Formateo e Instalacion</table>
<table class="table-warning">Cambio de Pantallas</table>
<table class="table-info">Cambio de Baterias de Laptops</table>
<table class="table-light">Cambio de Baterias de Celular</table>
<table class="table-dark">Activacion de Windows</table>
<span class="placeholder col-12 bg-warning"></span>

  